services:
  backend:
    build: ./Backend
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - backups_data:/storage/backups
    networks:
      - my-network

  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - ${DB_PORT}:${DB_PORT}
    networks:  # Подключение к сети
      - my-network  # Имя сети

volumes:
  postgres_data:
  backups_data:

networks:  # Определение сети
  my-network:  # Имя сети
    driver: bridge  # Драйвер сети (опционально, bridge используется по умолчанию)
